{% extends "base.html" %}
{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    {% if edit %}
    defaulttext = '{{editfields.title}}'
    {% else %}
    var today = new Date();
    defaulttext = today.toDateString();
    {% endif %}
    $('#title').val(defaulttext);
    function update_sum(){
        var sum = 0;
        $('.item').each(
            function(i,elem){
                reg = /(.*?)\[(\d+)\]/;
                match = reg.exec($(elem).val());
                if (match != null){
                    sum = sum + parseInt(match[2]);
                }
            }
        );
        $('.sumtext').text(sum);
    }
    {% if edit %}{% else %}
    $('#title').focus(function(){
        if($('#title').val() === defaulttext){$('#title').val('');}
    });
    $('#title').blur(function(){
        if($('#title').val() === ''){$('#title').val(defaulttext);}
    });
    {% endif %}
    
    $('#addmore').click(function(){
        var nextitem = $('.item').size()+1;
        $('.listitems').append("<tr><td><div class='itemdiv' id='itemdiv-"+nextitem+"'><span class='numrows'></span></td><td><input type='text' class='item' name='item-"+nextitem+"' autocomplete='off'><a class='removerow' style='cursor:pointer'><img src='/static/img/minus-button.png'></a></div></td><tr>");
        $('.item[type=text]:first').focus();
        updatenumrows();
    });
    
    $('.removerow').live('click', function(){
        $(this).parent().parent().remove();
        updatenumrows();
        update_sum();
    });
    
    function updatenumrows(){
        $('.numrows').each(function(i, elem){
                $(elem).text(i+1+'. ');
        });
    }
    
    function tospan(){
        if($(this).val() != ''){
            var ctext = $(this).val();
            newctext = ctext.replace(/^(.*?)(| )( |:|-)(| )(\d+)(| |  )(|р|р.|руб|руб.|рублей|рубля|рубль)$/, "$1 - <b>$5 р.</b>");
            valuetext = newctext.replace(/^(.*?) - <b>(\d+) р.<\/b>$/, "$1[$2]");
            $(this).replaceWith('<input type=\'hidden\' class=\'item\' name='+$(this).attr('name')+' value='+valuetext+'><span id='+$(this).attr('name')+' class=\'replacediv clickable\' href=\'#\'>'+newctext+'</span>');
            update_sum();
        }
    }
    $('.item').live('blur', tospan);
    $('.replacediv').live('click', function(){
        var default_value = $(this).text();
        $('input[name='+$(this).attr('id')+']').remove();
        $(this).replaceWith('<input type=\'text\' class=\'item\' name='+$(this).attr('id')+'>');
        $('input[name='+$(this).attr('id')+']').val(default_value).focus();
    });
    
    $('.item').live('focus', function(event){
    $(this).autocomplete({
      source : '/ac',
      minLength: 2,
      open: function(){$('.item').die('blur');},
      close: function(){$('.item').live('blur', tospan);}
    });
    });
{% if edit %}
{% for item in editfields.items %}
    $('#addmore').click();
    $('.item[value=]').val('{{item.name}} - {{item.price}}');
{% endfor %}
    $('.item').blur();
{% else %}
    for (var i = 0; i < 5; i++) {
        $('#addmore').click();
    }
{% endif %}
    
    
    
});
</script>
{% endblock %}
{% block css %}
<style type="text/css">
    .clickable {
        cursor: pointer;
    }
</style>
{% endblock %}
{% block body %}
<form method='post'>
<span id='title-label'>Название: </span><input type='text' name='title' id='title' autocomplete='off'><br><br>
Продукты:
<table>
<div class='listitems'>
</div>
</table>
<div class='addmore'><a href='#' id='addmore'><img src='/static/img/plus-button.png'> Ещё!</a></div>
<div>Сумма: <b><span class='sumtext'></span></b> р.</div>
{% if edit %}
<input type='hidden' name='id' value='{{editfields.id}}'>
{% endif %}
<br><button type='submit'><img src='/static/img/disk-black.png'> Сохранить</button>
</form><br>
{% endblock %}