{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    viewsum = 0;
    $('.view-price-num').each(
            function(i,elem){
                    viewsum = viewsum + parseInt($(elem).text());
            }
        );
        $('.sumtext').text(viewsum);
    
    $('#shortlink-button').click(function(){
        $('#shortlink').val('Подождите...');
        $.post('/shorturl', {id:'{{id}}'}, function(data){
            $('#shortlink').val(data);
            $('#shortlink-button').remove();
        });
    });
    $('#shortlink').click(function(){
        $(this).select();
    });
    $('#sendme').click(function(){
        $.post('/sendme', {id:'{{id}}'}, function(data){
            $('#sendme').remove();
            $('#sendmediv').text('Письмо ушло!');
        });
    });
    
});
</script>
{% endblock %}

{% block body %}
<h1>{{title}}</h1>
<div class='listitems'><table>
{% for item in items %}
    <tr class='view-item'><td class='view-numrow'>{{forloop.counter}}. </td><td class='view-name'>{{item.name}}</td>
        <td class='view-price'><b><span class='view-price-num'>{{item.price}}</span></b> р. </td></tr>
{% endfor %}
</table></div><br>
<div>Сумма: <b><span class='sumtext'></span></b> р.</div><br>
Ссылка для мобильного устройства (без авторизации):<br>
<input type='text' id='shortlink' value='{{anonlink}}'>{% if longlink %}<button id='shortlink-button'>сократить</button>{% endif %}
<br><div id='sendmediv'><button id='sendme'>Отправить мне на E-mail</button></div>
{% endblock %}